
@{
//ViewData["Title"] = "Index";
}


@model IEnumerable<EducationProject.Contract.ResponseModel.Education.EducationResponseModel>


@if (ViewBag.Message != null)
{
    <h1>@ViewBag.Message</h1>
}

<a href="/Education/Addeducation" class="btn btn-success float-right">Create Education</a>

<h3>Education List</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Time</th>
            <th scope="col">Quota</th>
            <th scope="col">Cost</th>
            <th scope="col">Category Name</th>
            <th scope="col">Transaction</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>@item.Name</td>
            <td>@item.Time</td>
            <td>@item.Quota</td>
            <td>@item.Cost</td>
            <td>@item.CategoryName</td>

            <td>
                <a class="btn btn-warning" href="/Education/ByIdEducation?Id=@item.Id">Detail</a>
                <a class="btn btn-primary" href="/Education/UpdateEducation?Id=@item.Id">Update</a>
                <a href="#" class="deleteEducation btn btn-danger " data-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>

            </td>
        </tr>
            }
        }


    </tbody>
</table>

<script>
    $(".deleteEducation").click(function () {

        var id = $(this).attr("data-id");
        var closestTR = $(this).closest("tr");

        swal({
            text: "Are you sure you want to delete training?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger m-l-5',
            buttonsStyling: false
        }).then(function (willDelete) {
            if (willDelete) {
                $.ajax({
                    url: '/Education/DeleteEducation?EducationId=' + id,
                    type: 'POST',
                    success: function (d) {
                        if (d.failed == false) {
                            closestTR.fadeOut(1000, function () {
                                closestTR.remove();
                            });

                            toastr.success(d.message, "Success");
                        }
                        else {

                            toastr.error(d.message, "Error");
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status == 403) {
                            window.location.href = "/Account/AccessDenied";
                        }
                    }
                });
            }

        });

    });
</script>

